body{
    background-color: whitesmoke;
    color: grey;

}

main{
    display: flex;
    justify-content: space-around;
}

.imagen{
    height: auto;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.perfil{
    display: flex;
    position: relative;
}

.nombre{
    position: absolute;
    bottom: 20px;
    right: 0;
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.izquierdo{
    width: 450px;
    margin: 1% 0 0.5% 13.5%;
    background-color: white;
    box-shadow: 5px 5px 5px 1px gray;
}

.derecho{
    display: block;
    width:900px;
    margin: 1% 13.5% 0.5% 0%;
    height: fit-content;
}

.derecho-top{
    padding-left: 2%;
    background-color: white;
    padding-bottom: 3%;
    padding-top: 1%;
    box-shadow: 5px 5px 5px 1px gray;
}

.derecho-bottom{
    margin-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-top: 1%;
    background-color: white;
    box-shadow: 5px 5px 5px 1px gray;
}
.datos-personales{
    display: block;
    padding-top: 2%;
    margin-bottom: 5%;
    margin-left: 3%;
}

.horizontal{
    display: flex;
    margin-top: 1%;
    text-align: center;
    align-items: center;
}

.horizontal h4{
    padding-left: 2%;
}

h1{
    margin-left: 3%;
    font-size: 30px;
}

h2{
    margin-left: 3%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Antique', serif;
}

h3 {
    margin-left: 2%;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Antique', serif;
    font-size: 20px;
}

h4{
    margin-top: 3px;
    font-size: 12px;
}

img{
    width: 30px;
    height: 30px;
}

.contenedor{
    background-color: #008080;
    color: white;
    border-radius: 89px;
}

#empresa{
    width: 70px;
    height: fit-content;
}

.skills{
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.Lenguajes{
    margin-left: 3%;
    margin-right: 5%;
}

.container-derecho{
    margin-top: 3%;
    padding-left: 2%;
}

footer{
    margin-top: 1%;
    background-color:#008080 ;
    display: block;
    text-align: center;
    color: white;
    padding: 1% 0 2% 0;
}

.qr{
    display: block;
    text-align: center;
}
.qr img{
    width: 190px;
    height: 190px;
}

#solid{
    width: 150px;
    height: auto;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 2px 5px;
    font-size: 30px;
}

a{
    color: gray;
}

#titulos{
    font-size: 18px;
}

.container_skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.skills_logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:50px;
    height: 90px;
}
.skills_logos img{
    width: 60px;
    height: auto;
}

.skills_logos h3{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

p{
    font-size:14px;
font-family: 'Bebas Neue', cursive;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Zen Antique', serif;
}